.portfolio__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3rem;
    margin-top: 2rem;
    padding: 2rem 2rem;
    justify-content: center;
    background-color: var(--container-color);
}

.portfolio__content {
    display: flex;
    justify-content: center;
}

.portfolio__timeline{
    display: flex;
    justify-content: center;
    flex-direction: row;

}

.techstack{
    display: flex;
    flex-direction: row;
    column-gap: 0.5rem;
}